html,body {
    height: 100%;
    width: 100%
    scroll-behavior: smooth;
}


.Navbar {
  display: flex;
}

.Navbar {
  display: flex;
}


/*
.navbar {
    background-color: #FFF; 
    padding: 20px 0;
    font-size: 1.5em;
    border:none;
}
.navbar-brand{ 
    min-height: 55px;
    padding: 0 15px 5px;
}

.navbar-brand { 

    padding: 0px 55px 15px 0;

}

.navbar-default .navbar-nav li a{  
    color: #93c121;
}
.navbar-default .navbar-nav li a:hover, .navbar-default .navbar-nav li a.active{ 
    color: #08161f; 
}*/
#homebase div { /*adicionar padding caso faça clip á img */
    padding-top: 155px;
    background: url("../imgs/dc2.jpg") no-repeat left center fixed;
    display: table;
    height: 100%;
    position: relative;
    width:100%;
    background-size: cover;
    background-blend-mode: soft-light;
    /*background-color: #FFF;*/
    font-size: 500%;
	font-weight: 500;
	font-style: italic;
	}

#homebase ul{
	color: #2d2d2d;
	opacity:0.1;
  	transition:opacity 0.7s linear;*
}

#homebase ul:hover{
	color: #08161f;
	opacity:1;
}

.landing-text { 
	display:table-cell;
	text-align: right;
	vertical-align: bottom;
	color: #93c121 ;
	padding: 200px 50px 0 0;
}

#home .landing-text h1{
	font-size: 500%;
	font-weight: 500;
}

#about{
	background-color: #d2d2d2;
}

#tlane1{
	background-color: #3da4ab;	
}
#tlane2{
	background-color: #f6cd61;
}
#tlane3{
	background-color: #fe8a71;	
}

#fixed1{
	background: url("../imgs/bootstrap1a.jpg") no-repeat center center fixed;
	display:table;
	height: 60%;
	position: relative;
	width: 100%;
	background-size: cover;
}
#fixed2{
	background: url("../imgs/bootstrap2a.jpg") no-repeat center center fixed;
	display:table;
	height: 60%;
	position: relative;
	width: 100%;
	background-size: cover;
}
#fixed3{
	background: url("../imgs/bootstrap3.jpg") no-repeat center center fixed;
	display:table;
	height: 60%;
	position: relative;
	width: 100%;
	background-size: cover;
}
h4{
	font-size: 100%;
}
.lead{
	font-size: 150%;
}

/*.padding{
	padding: 80px 0;
}
.padding img{
	width:100%;
}*/

footer {
	width: 100%;
	/*background-color: #FFF;
	padding: 1% 1% 1% 1%;*/
	color: #93c121;
}

#social {
	color:#000;
	display: block;
	width: 325px;
	height: 325px;
	
}

.ficon img {		
	background: url("../imgs/f.png");
}
.ticon img {		
	background: url("../imgs/t.png");
}
.gicon img {		
	background: url("../imgs/g.png");
}



#footer {
	padding: 7% 1% 1% 1%;
}

.fa {
	padding: 15px;
	font-size: 25px;
	color: #93c121;
}
.fa:hover {
	color: #08161f;
	text-decoration: none;
}
.icon {
	max-width: 100px;
}
/*.icon:hover{
	max-width: 105px;
}*/

#tlane1{ /* caixa de texto */
  	padding: 2% 2% 2% 2%;
 }
#tlane2{ /* caixa de texto */
  	padding: 2% 2% 2% 2%;
 }
#tlane3{ /* caixa de texto */
  	padding: 2% 2% 2% 2%;
 }


#tlane1 .portimg1{ /* caixa de texto */
	/*max-width: 400px;*/
	max-height: 100%;
  	max-width: 100%;
  	/*border: dashed blue 1px;*/
  	padding: 2% 2% 2% 2%;
 }
#tlane2 .portimg2{ /* caixa de texto */
	max-height: 100%;
  	max-width: 100%;
  	padding: 2% 2% 2% 2%;
  	
 }
#tlane3 .portimg3{ /* caixa de texto */
	max-height: 100%;
  	max-width: 100%;
  	padding: 2% 2% 2% 2%;  	
 }
#about .col-sm-5 { /*about*/
	text-align: left;
	padding-top: 1%;
}
#about .aboutimg { /*about*/
	padding-top: 10%;
	max-height: 100%;
  	max-width: 100%;
}


/*
verde #93c121 / rgb(147,193,33);
azul esccuro  #08161f*/


/* alterações para mobile*/

@media (max-width:768px){
	.landing-text h1{
		font-size:100%;
	}
	.fa { /* awesome*/
		font-size: 20px;
		padding: 8% 7% 7% 7%;
	}
	.col-sm-4{
		padding: 25% 1% 1% 1%;
	}
	#footer h3 {
		font-size: 35px;
	}
	#footer h4 {
		font-size: 20px;
	}

	.icon {
		padding-top: 5px;
		max-width: 100px;
	}
	#homebase ul {
		display: none;
	}

	#fixed1{
		max-height: 100%;
  		max-width: 100%;
	}
	#fixed2{
		max-height: 100%;
  		max-width: 100%;
	}
	#fixed3{
		max-height: 100%;
  		max-width: 100%;
	}
	.portimg1{
	size: 50%;
	padding: 10% 5% 10% 5%;
 	}
 	.portimg2{
	size: 50%;
	padding: 10% 5% 10% 5%;
 	}
 	.portimg3{
	size: 50%;
	padding: 10% 5% 10% 5%;
	max-height: 100%;
  	max-width: 100%;
 	}
 	#about .aboutimg { /*about*/
	padding: 20% 5% 5% 5%;
	}
	.col-sm-5 { /*about*/
	text-align: left;
	padding: 5% 1% 1% 5%;	
	}	

}