nav ul {
position: relative;
display: inline-block;
}
nav ul ul{
display: none;
}
nav ul li {
display:block;
float:left;
padding:3px 15px;
}
nav ul li a {
font-family: 'Open Sans', sans-serif;
text-transform: uppercase;
transition: all .25s ease;
color: black;
}
nav ul li a:hover {
color: #E56038;
}

nav ul li:hover > ul {
display: block;
}
nav ul li:hover > ul {
margin: 0px;
padding: 0px;
}
nav ul li:hover > ul li {
float: none;
display: block;
}
nav ul li:hover > ul li a {
color: #333333;
min-width: 500px;
}
nav ul li:hover > ul li a:hover { color: #E56038}
nav ul li {position: relative;}
nav ul li ul {position: absolute; top: 15px; left: 15px;}